body, html {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  min-height: 100dvh;
}

#root {
  min-height: 100dvh;
}

.truck-marker {
  background-color: white;
  padding-top: 0;
  padding: 4px;
  border-radius: 4px;

  p {
    text-align: center;
  }

  svg {
    color: 'black'
  }
  
}